@charset utf-8;

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: none;
  background: #111;
}
ul{
  list-style-type: none;
  padding: 0;
  overflow:hidden;
}
ul a li{
  padding: 40px;
  color:black;
  text-decoration: none;
}
ul a:hover{
  text-decoration: none;
}
ul a li:hover{
  background: white;
  text-decoration: none;
}
ul a{
  text-decoration: none;
}
header{
  color: white;
  height: none !important;
  box-shadow: 10px 10px 50px rgba(253, 158, 40, 0.8) ;
}
.content{
/*  background: #111;*/
/*  min-height: 90vh !important;*/
}
#header{
  color: white;
  background: #000;
  padding: 5px 40px;
}
#header .align{
  text-align: right;
}
header h1{
  color: white !important;
}
body{
  min-height: 100vh;
}
header #logo{
  width: 50%;
  padding-left: 20px;
}
header ul{
  list-style-type: none;
  width: 100%;
  vertical-align: middle;
  margin-top: revert;
}
header ul li{
  float: left;
  width: calc(100% / 5);
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
}
header #searchbar{
  padding-top:30px;
}
.line{
  border-bottom: solid 2px #FD9E28;
}
header #searchbar form{
  width: 70%;
  overflow: hidden;
  float: left;
}
header #searchbar svg{
  float: left;
}
header #searchbar form input{
  background:none;
  color:white;
  border:none;
  float:left;
  width: 90%;
  padding:0px 00px 5px 20px;
}
.content{
  background:#26231A;
  padding-top: 10vh;
}
.arrow{
  width: 5%;
  float: left;
}
.arrow img{
  width: 40%;
  margin: auto;
  margin-top: 40vh;
}
.avcon{
  width: 99%;
  margin: auto;
}
.avcon_inner{
  margin: auto;
  width: 85%;
  float: left;
}
.avcon_inner .card{
  background:#26231A;
}
#not{
  width: 25px;
}
#user{
  width: 45px;
  margin-left: 40px;
}
.show{
  border-radius: 5%;
  background: black;
  z-index: 0;
}
.show iframe{
  height: 70vh;
  z-index: 0;
}
.show img{
  max-height: 70vh;
  width: 50%;
  margin: auto;
}
.show iframe,.show img{
  box-shadow: 1px 1px 90px rgba(253, 158, 40, 0.8) ;
  z-index: 0;
  filter: brightness(0.4);
}
.show iframe:hover,.show img:hover{
  filter: brightness(1.1);
}
.watch{
  text-align: center;
  position: relative;
  margin-top: -200px;
  z-index: 9;
}
.watch .calif{
  width: 70%;
  padding-left: 10%;
  z-index: 9;
  margin-bottom: 40px;
}
.watch .calif h1{
  color: white;
  text-align: left;
  z-index: 9;
  font-weight: 900;
}
.watch .row{
  width: 70%;
  margin: auto;
}
.watch img{
  width: 70%;
  margin:auto;
  text-align: center;
}
.info{
  padding-left: 5%;
  color:white;
}
.info p{
  font-size: 21px;
  color:#FDB62B;
}
.info h2{
  color:#FDB62B;
  font-weight: 900;
  font-size: 32px;
}
.info h3{
  color:#FDB62B;
  font-weight: 500;
  font-size: 28px;
}
.info .detail{
  font-size: 26px;
}
.plats{
  margin-top: 20px;
}
.plats img{
  width: 80%;
  margin: auto;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(253, 158, 40, 0.4) ;
}
.desc{
  margin: 20px 0;
  line-height: 35px;
  color: white;
  font-size: 21px;
  font-weight: 500;
}

.file-select {
  position: relative;
  display: inline-block;
    cursor: pointer;
}

.file-select:hover {
    cursor: pointer;
}

.file-select::before {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
    cursor: pointer;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  display: inline-block;
    cursor: pointer;
}

 #fotoPerfil::before {
  content: 'Cambiar foto de perfil';
    cursor: pointer;
}