@charset utf-8;

*{
	box-sizing: border-box;
}
.w-100{
	width: 100%;
}
.glow{
	box-shadow: 1px 1px 90px rgba(253, 158, 40, 0.8) ;
}
.minglow{
	box-shadow: 1px 1px 20px rgba(253, 158, 40, 0.8) ;
}
.br{
	border-radius: 12px;
}
.br24{
	border-radius: 24px;
}
.cn{
	color:rgb(253, 158, 40);
}
body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: none;
	min-height: 100vh;
	background:#26231A !important;
}
ul{
	list-style-type: none;
	padding: 0;
	overflow:hidden;
}
ul a li{
	padding: 40px;
	color:black;
	text-decoration: none;
}
ul a:hover{
	text-decoration: none;
}
ul a li:hover{
	background: white;
	text-decoration: none;
}
ul a{
	text-decoration: none;
}
header{
	color: white;
	height: none !important;
/*	box-shadow: 10px 10px 50px rgba(253, 158, 40, 0.8) ;*/
 	width: 20%;
    float: left;
    position: fixed;
    height: 100%;
}
header img{
    width: 50%;
}
#header{
	color: white;
	background: #000;
	padding: 5px 40px;
}
#header .align{
	text-align: right;
}
header h1{
	color: white !important;
}
header #logo{
	width: 30%;
	min-width: 50px;
	padding-left: 20px;
}
header ul{
	list-style-type: none;
	width: 100%;
	vertical-align: middle;
	margin-top: revert;
}
 header img{
    width: 50%;
}
header ul li{
    display: block !important;
    float: none;
    width: 100%;
    text-align: left;
    margin-top: 20%;
    font-size: 21px;
}
header ul li a:hover{
    font-weight: bolder;
    color:white;
}
header ul li a img{
    width: 25px;
    margin-right: 20px;
}
header #searchbar{
	padding-top:30px;
}
.line{
	border-bottom: solid 2px #FD9E28;
}
header #searchbar form{
	width: 70%;
	overflow: hidden;
	float: left;
}
header #searchbar svg{
	float: left;
}
header #searchbar form input{
	background:none;
	color:white;
	border:none;
	float:left;
	width: 90%;
	padding:0px 00px 5px 20px;
}
.header2{
	width: 7%;
	display: none;
}
.header2 #logo{
	width: 100%;
}
.header2 ul li a img{
	width: 50%;
	margin: auto;
}
.header2 ul li{
	margin-top: 60px;
}
.content{
    float: left;
    margin-left: 20%;
    padding: 1% 5%;
    width: 80%;
    background:#26231B !important;
    color:white;
}
.arrow{
	width: 100%;
	text-align: right;
}
.avcon{
	width: 99%;
	margin: auto;
	z-index: 3;
}
.avcon_inner{
	margin: auto;
}
.avcon_inner .card{
	background:#26231A;
}
.avcon-in{
	width: 20%;
	float: left;
}
.avcon-in:hover{
	transition: all 0.3s;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#not{
	width: 25px;
}
#user{
	width: 45px;
	margin-left: 40px;
}
.show{
	border-radius: 5%;
	background: black;
	z-index: 0;
}
.show iframe{
	height: 70vh;
	z-index: 0;
}
.show img{
	width: 80%;
	margin: auto;
}
.show iframe,.show img{
	box-shadow: 1px 1px 90px rgba(253, 158, 40, 0.8) ;
	z-index: 0;
	filter: brightness(0.4);
}
.show iframe:hover,.show img:hover{
	filter: brightness(1.1);
}
.watch{
	text-align: center;
	position: relative;
	z-index: 9;
	margin-top: -100px;
	right: 10px;
}
.watch .calif{
	width: 70%;
	padding-left: 10%;
	z-index: 9;
	margin-bottom: 40px;
}
.watch .calif h1{
	color: white;
	text-align: left;
	z-index: 9;
	font-weight: 900;
}
.watch .row{
	width: 100%;
	margin: auto;
}
.watch svg{
	width: 90%;
	margin:auto;
	text-align: center;
}
.Actbut{
	background:#26231b;
	fill:#26231b;
}
.info{
	padding-left: 5%;
	color:white;
}
/*.info p{
	font-size: 21px;
	color:#FDB62B;
}*/
.info h2{
	color:#FDB62B;
	font-weight: 900;
	font-size: 32px;
}
.info h3{
	color:#FDB62B;
	font-weight: 500;
	font-size: 28px;
}
.info .detail{
	font-size: 26px;
	margin-top: 15px;
}
.info .filter{
	text-align: left !important;
}
.filterer{
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;
}
.titles{
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 1px;
	color:white;
	cursor: pointer;
}
.titles .col-6:hover{
	color: rgb(253, 158, 40);
	border-bottom: solid 2px rgb(253, 158, 40);
}
.filterer button{
	text-align: right;
	background:none;
	color:white;
	padding:5px 15px;
	border:solid 1px rgba(253, 158, 40, 0.4);
	border-radius: 12px;
	font-size: 18px;
	cursor: pointer;
}
.filterer button svg{
	color: rgb(253, 158, 40);
}
#platforms{
	margin-top: 20px;
}
#platforms img{
	width: 20%;
	margin-right: 10px;
	border-radius: 12px;
	box-shadow: 1px 1px 10px rgba(253, 158, 40, 0.4) ;
}
.desc{
	margin: 20px 0;
	line-height: 35px;
	color: white;
	font-size: 18px;
	font-weight: 300;
}
.content .h1{
	font-weight: 700;
}
.buttons{
	margin: 20px 20px 20px 0;
	text-align: center;
	font-size: 12px;
	user-select: none;
}
.buttons svg{
	width: 70px;
	clear: both;
}
.img_btn{
	text-align: center;
	color: white;
	border: solid 1px #940000;
	border-radius: 12px;
	padding: 5px 15px;
}
.img_btn p{
	margin-bottom: 0px;
	color: white;
	margin-top: 5px;
	font-weight: 600;
}
.img_btn img{
	width: 80%;
	margin: auto;
}
body{
    background: #111;
}
.next{
    position: fixed !important;
    bottom: 10px;
    left: 50px;
}
.buscador,.notification{
	width: 25%;
	background:black;
	position: fixed;
	height: 100%;
	z-index: 1;
	color:white;
	margin-left: 7% !important;
	top: 0;
	z-index: 4;
	display: none;
	border-left: solid 1px rgba(255, 255, 255, 0.2);
}
.btop{
	border-top: solid 1px rgba(255, 255, 255, 0.2);
	text-align: center;
}
.btop .col-4{
	border-bottom: solid 2px grey;
	padding-bottom:20px;
}
.btop .col-4:hover{
	fill:rgb(253, 158, 40);
	border-bottom: solid 2px rgb(253, 158, 40);;
}
.btop .col-4:hover .cls-1{
	fill:rgb(253, 158, 40);
}
.buscador form{
	margin-top: 20px;
	width: 100%;
}
.buscador form input{
	border-radius: 12px;
	width: 100%;
	padding:5px 10px;
}
.fw-bold{
	font-weight: bolder;
}
.cls-1 {
	fill: white;
}
.elenco {
  width: 100%;
  box-sizing: border-box;
}
.elenco .item{
	padding:5px 15px;
	margin-right: 10px;
	background:#707070;
	border-radius: 12px;
	width: auto;
	float: left;
	margin-top: 10px;
	font-size: 12px;
}
.starring{
	width: 20%;
	float: left;
	margin:0;
	padding: 0px 5px;
}
.elenco_inner {
  background: black;
  border-radius: 12px;
  padding-bottom: 5px;
  width: 100%; /* ajustar el ancho */
  flex-shrink: 0; /* evitar que se reduzca de tamaño */
}
.elenco_inner img{
	border-radius: 12px 12px 0 0;
	width: 100%;
	margin-bottom: 15px;
}
.elenco .shim img{
	width: 100%;
	padding:0px !important;
}
.elenco .shim{
	padding:0px;
}
.elenco p{
	font-size: 12px;
}
.elenco .name{
	color:white !important;
	margin-bottom: 0px;
	font-size: 12px;
}
.coments{
	width: 36%;
	background:#26231B !important;
	position: fixed;
	top: 0px;
	display: none;
	overflow-y: scroll;
	box-sizing: content-box;
	padding:10px;
	overflow-x: hidden;
}
.comentsz{
	width: 100%;
	background:#26231B !important;
}
.comentsCollapse button{
	background: none;
	border:none;
}
.comentsCollapse{
	-webkit-user-select: none; /* Safari */
	  -ms-user-select: none; /* IE 10 and IE 11 */
	  user-select: none; /* Standard syntax */
	  margin-top: 70px;
}
.comentsCollapse button span{
	background:#FEA029;
	padding: 5px 10px;
	border-radius: 50%;
	color:black;
}
.comentsCollapse svg{
	margin:0px 10px;
}
.coments-container{
	width: 100%;
	overflow-y: scroll;
	height: 78vh;
	padding: 10px;
}
.coments-item{
	width: 100%;
	margin-top: 20px;
}
.coments-item img{
	border-radius: 50%;
	border:solid 1.5px rgb(253, 158, 40);
}
.coments-item svg{
	width: 60%;
	float: left;
}
.coments-item span{
	width: 40%;
	float: left;
	font-size: 16px;
	padding-left: 5px;
	padding-top: 10px;
}
.coments-item .col-1,.coments-item .col-11{
	padding:5px 0;
}
.coments-user{
	width: 100%;
	border-top: solid 0.5px #FFC000;
	padding-top: 20px;
}
.coments-user img{
	width: 40px;
}
.coments-user .col-10{
	background: white;
	border-radius: 12px;
}
.coments-user input{
	width: 80%;
	float: left;
	padding:5px 10px;
	color:black;
	font-size: 16px;
	border:none;
}
#publish{
	background:none;
	color:#FEA029;
	border:none;
	float: left;
	width: 20%;
	font-weight: 600;
}
.filterf{
	position: fixed;
	top: 10px;
	left: 25%;
	width: 50%;
	z-index: 10;
	color:rgb(253, 158, 40);
	background:#26231B !important;
	border-radius: 16px;
	display: none;
}
.filterf h4{
	text-align:center;
}
.filterf p{
	color:rgb(253, 158, 40);
}
.gen .col-3{
	margin-top: 20px;
}
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0% auto;
}

.sliders_control {
  position: relative;
  min-height: 50px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
  margin-top: 7px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
  margin-top: -25px;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px rgb(253, 158, 40), 0 0 9px rgb(253, 158, 40);
  -webkit-box-shadow: inset 0 0 3px rgb(253, 158, 40), 0 0 9px rgb(253, 158, 40);
}

input[type="number"] {
  color: rgb(253, 158, 40);
  width: 50px;
  height: 20px;
  font-size: 16px;
  border: none;
  background:none;
  float: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 0;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 10px;
  width: 95%;
  position: absolute;
  background-color: rgb(253, 158, 40);
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

header ul li a{
	color:white;
}
header{
	position: fixed;
	z-index: 2;
}
.profile{
	width: 100%;
	margin: auto;
	text-align: center;
}
.head_profile {
	text-align: left;
	padding:5% 15%;
}
.head_profile img{
	width: 80%;
	margin: auto;
	text-align: center !important;
}
@media (max-width:1024){
	.content{
		padding:5% 5%;
	}
}
#not{
	cursor: pointer;
}
.user{
	color: white;
	font-size: 21px;
}
.edit{
	border-radius: 12px;
	border:solid 1px #FF9D00;
	padding: 2px 100px;
	color:#000000;
}
.opciones{
	width: 85%;
	margin: 20px auto;
	font-size: 21px;
	padding: 0px 15% 15px 15%;
}
.opciones .col-lg-4{
	border-bottom:solid 2px #929292;
}
.opciones .col-lg-4:hover{
	color:#FF9D00;
	border-color:#FF9D00;
}
.clear{
	clear: both;
	width: 100%;
}
.top-rated img{
	width: 40px;
}
.clasifier{
	width: 89%;
	padding: 10px 5%;
}
.clasifier img{
	width: 100%;
	margin: auto;
}
.top-rated .col-lg-1 img{
	width: 20px;
	vertical-align: middle;
}
.indicator{
	line-height: 700px;
	width: 2.5%;
}
.indicator img{
	width: 80% !important;
}
.editar{
	width: 50%;
	background: #26231B;
	border-radius: 40px;
	left: calc(50% / 2);
	top: 15%;
	position: fixed;
	box-shadow: 1px 1px 90px rgba(253, 158, 40, 0.8) ;
	border:solid 1px rgba(255, 255, 255, 0.2);
	padding:25px;
	color:white;
	text-align: center;
	z-index: 8;
}
.close{
	text-align: left;
	float: left;
}
.editar_close{
	width: 100%;
	overflow: hidden;
}
.editar h4{
	margin-top: -30px;
}
.editar .user{
	width: 150px;
	max-height: 150px;
}
.editar_img{
	width: 100%;
	margin-top:20px;
}
.editar form{
	width: 80%;
	margin:auto;
	margin-top:20px;
}
.editar p{
	margin-top: 20px;
}
.editar form input{
	background:none;
	border:none;
	border-bottom:solid 1px #FF9F00;
	color:white;
	width:100%;
	margin-top:20px;
}
.editar form input[type=submit]{
	background:none;
	border:solid 1px rgba(255, 255, 255, 0.4);
	color:#FF9E00;
	width: auto;
	padding:10px 30px;
	border-radius: 48px;
}
#black{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background:rgba(0, 0, 0, 0.6);
	z-index: 4;
}
.es{
	width: 100%;
	text-align: left;
}
.setitle{
	width: 100%;
	border-bottom: 1px solid #FFC000;
	color:white;
}
.single-not{
	margin-top: 10px;
	padding: 0 5%;
}
.single-not h5{
	font-size: 18px;
}
.single-not p{
	color:#FFC000;
	font-size: 14px;
}
.single-not img{
	width: 70%;
}
.single-not button{
	background:none;
	color:#FFC000;
	padding:5px 30px;
	border:solid 1px rgba(255, 255, 255, 0.5);
	border-radius: 12px;
	font-size: 24px;
}
.single-not button svg{
	font-size: 24px;
}
.single-not button:active{
	border:solid 1px rgba(255, 255, 255, 1);
}
.single-not .last{
	text-align: center;
}
.single-not .last img{
	width: 50%;
}
.seguidores{
	width: 50%;
	background: #26231B;
	border-radius: 40px;
	left: calc(100% - 75%);
	top: 15%;
	position: fixed;
	box-shadow: 1px 1px 90px rgba(253, 158, 40, 0.8) ;
	border:solid 1px rgba(255, 255, 255, 0.2);
	padding:25px;
	color:white;
	text-align: center;
	z-index: 8;
	height: 80vh;
	overflow: scroll;
}
.close{
	text-align: left;
	float: left;
}
.seguidores_close{
	width: 100%;
	overflow: hidden;
}
.seguidores h4{
	color:rgb(250, 188, 0);
	border-bottom: solid 2px rgb(250, 188, 0);
	width: 200px;
	line-height: 40px;
	margin:auto;
}
.look{
	background:rgba(146, 146, 146);
	border:none;
	border-radius:12px;
	width: 80%;
	padding: 5px 20px;
}
.look::placeholder{
	color:white;
}
.seguidores img{
	max-height: 70px;
}
.seguidores button{
	background:none;
	border:none;
}
.cursor-pointer{
	cursor: pointer;
}
.title{
	color:#FF9E00;
	font-weight: bold;
}
.star i{
	color:#FF9E00;
	border:#FF9E00;
}
.foll{
	font-weight: 400;
	font-size: 18px;
}
.vt{
/*	text-decoration:underline;*/
	text-align: left;
	color:rgb(253, 158, 40);
}
.pager{
	width: auto;
	float: left;
	padding:1px 5px;
}
.filter{
	width: 98%;
	text-align: right;
}
.filter button,.ing{
	background:none;
	border:solid 1px rgb(253, 158, 40);
	border-radius: 12px;
	font-size: 18px;
	padding: 5px 20px;
	color:white; cursor: pointer;
}
.filst{
	width: 25%;
	clear:both;
	padding-right: 50%;
	box-sizing: content-box;
	margin-top:10px;
}
.filst svg{
	width: 20%;
	float: left;
}
.clear{
	width: 100%;
	clear:both;
}
.index{
	background:url('../images/base.png') no-repeat;
	text-align: center;
	background-size: cover;
}
.index .card{
	background:rgb(38, 35, 27);
	border:solid 0.5px rgba(255, 255, 255, 0.5);
	width: 40%;
	margin: auto;
	text-align: center;
	color:white;
	padding: 20px 10%;
	margin-top: 5vh;
	line-height: 40px;
}
.index .card img{
	width: 250px;
	margin: auto;
}
.index .card form input[type=text],.index .card form input[type=password]{
	width: 100%;
	background:none;
	border:none;
	border-bottom:solid 1px rgb(253, 158, 40);
	color:white;
	margin-top: 20px;
}
.index .card form input::placeholder{
	color:white;
}
.index .card .social button{
	background:none;
	border: none;
}
.index .card .nav button{
	border: solid 1px white;
	background:none;
	color:white;
	color:rgb(253, 158, 40);
	border-radius: 14px;
	padding: 0px 30px;
	margin-top: 30px;
}
.plataformas .col-6{
	margin-top: 40px;
}
#social .card{
	background: none;
	border:none;
}
.seen{
	font-size: 18px;
}
.seen img{
	min-width: 20px;
}
.seen .col-4{
	padding: 0;
	margin-left: -5px;
}
.profpic{
	text-align: center;
}
.profpic img{
	width: 60px;
}
.social-title{
	font-size: 18px;
	line-height: 10px;
}
.social-title svg{
	width: 3%;
}
.mov-tit{
	color:rgb(253, 158, 40);
	font-weight: 800;
	font-size: 18px; 
	line-height: 20px;
	margin-bottom: 10px;
}
.seguidores_display button{
	 background:none;
	 border:none;
}
.notification .col-6 p{
	font-size: 12px;
}
.trshow{
	background-size: cover;
	text-align: center;
	min-height: 400px;
	
}
.trshow img{
	margin:auto;
}
.stars {
  font-size: 0;
  display: inline-block;
  width: 50%;
  margin: auto;
}
.stars svg{
	width: 20% !important;
}
.star {
  display: inline-block;
  width: 40px;
  height: 36px;
  margin: 0 8px;
  background-image: url('../images/star.png');
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.star:hover,
.star.active {
  background-image: url('../images/starnofill.png');
}
.review{
	position:fixed;
	width: 50%;
	left:25%;
	background:black;
	border-radius:12px;
	display:none;
	z-index: 5;
	line-height: 60px;
	vertical-align: middle;
	top: 25vh;
}
.revdos{
	padding:40px 40px;
	text-align:center;
}
.review img{
	border-radius:12px 0 0 12px;
}
.review button{
	line-height: 30px;
}
.review .point{
	font-size: 32px;
	color:white;
	margin-top:20px;
}
.starz svg{
	height: 30px;
	width: 30px;
	padding: 5px;
}
.mainStage{
	width: 49%;
	float: left;
}
.mainTit{
	font-weight: 600;
	font-size: 28px;
	color:rgb(253, 158, 40);
}
.director{
	margin:10px 0;
	font-weight: 900px;
	color:grey;
}
#stgVid{
	display: none;
}
#playVid{
	position: relative;
	top: 25vh;
	left: 25%;
}
/*---------------------------RESPONSIVE--------------------*/
/*RESPONSIVE 1440*/
/*RESPONSIVE 1440*/
/*RESPONSIVE 1440*/
@media (max-width:1440px){
	header ul li a img{
	    width: 20px;
	    margin-right: 10px;
	}
	header ul li{
		font-size: 14px;
	}
	#header{
		padding: 5px 20px;
	}
	.social-title{
		font-size: 16px;
	}
	.buttons svg{
		width: 60px;
	}
}
/*RESPONSIVE 1024*/
/*RESPONSIVE 1024*/
/*RESPONSIVE 1024*/
@media (max-width:1025px){
	.content{
		padding: 4% 0%;
		width: 100%;
	}
	.social-title{
		font-size: 16px;
	}
}
/*RESPONSIVE 768*/
/*RESPONSIVE 768*/
/*RESPONSIVE 768*/
@media (max-width:768px){
	.mainMenu{
		display: none !important;
	}
	.header2{
		display: block !important;
		position: fixed;
		height: 80px;
		bottom: 0;
		left: 0;
		width: 100%;
		background:black;
		vertical-align: middle;
		z-index: 100;
	}
	#header ul{
		list-style-type: none;
		width: 100%;
		vertical-align: middle;
		margin-top: revert;
	}
	#logo{
	    display: none;
	}
	header ul li{
	    display: block !important;
	    float: left;
	    width:20%;
	    height: 80px;
	    text-align: center;
	    margin-top: 0%;
	}
	header img{
		max-width: 25px;
	}
	#responsive{
		display: none !important;
	}
	.header2 ul li{margin-top:0;}
	.content{
		width: 100%;
		padding: 0;
		margin-left: 0 !important;
	}
	.buttons{
		margin:15px 0;
	}
	.buttons svg{
		max-width: 90px;
	}
	.social-title svg{
		width: 4%;
	}
}
/*RESPONSIVE 425*/
/*RESPONSIVE 425*/
/*RESPONSIVE 425*/
@media (max-width:425px){
	.content{
		padding:7% 0;
	}
	.social-title{
		line-height: 10px;
	}
	.buttons{
		padding: 0;
		margin:0;
		text-align: center;
	}
	.buttons svg{
		width: 60px;
	}
	.seen{
		font-size: 12px;
	}
	.seen img{
		width: 10px !important;
	}
	.buttons svg{
		max-width: 50px;
	}
	.buttons{
		font-size: 8px;
	}
	.profpic img{
		width: 80px;
	}
	.mov-tit{
		line-height: 35px;
	}
	.social-title svg{
		width: 6%;
	}
}
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
